@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset tweaks */
html, body, #root {
  height: 100%;
}

body {
  @apply bg-gray-50 text-gray-800;
}

/* Scrollbar (nice touch) */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #cbd5f5;
  border-radius: 10px;
}